/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    position: relative; /* Make the body a relative container */
    font-family: Inter, sans-serif;
    line-height: 1.6;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Dark Mode Toggle Button */
#dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}

/* Top Container */
.top-container {
    text-align: center;
    padding: 230px;
    position: relative;
    z-index: 2;
    background-color: #808080; /* Medium dark grey */
}

/* Video Section Container */
.video-section-container {
    position: relative;
    width: 100%;
    padding-bottom: 100px; /* Bottom padding to prevent overlap with footer */
}

/* Video Section */
.video-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 200px; /* Space before the bottom-container */
}

.video-wrap {
    flex: 1 1 calc(50% - 10px);
    margin: 5px;
}

.video-wrap video {
    width: 100%;
    height: auto;
}


/* Bottom Container */
.bottom-container {
    position: fixed; /* Changed from absolute to fixed */
    bottom: 0; /* Align it to the bottom */
    width: 100%; /* Make it full width */
    text-align: center;
    padding: 130px;
    z-index: 2;
    background-color: #808780; /* Medium dark grey */
}

/* Footer Styling */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 2;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode video {
    opacity: 0.8;
}

.dark-mode footer {
    background-color: #1a1a1a;
}
